# Desarrollo local (Docker microservicios)
VITE_AUTH_API_URL=http://localhost:8000
VITE_BFF_URL=http://localhost:8002

# Producción
# VITE_AUTH_API_URL=https://api-auth.ayeapps.com
# VITE_BFF_URL=https://back-ayvddw.ayeapps.com
